__pycache__/
*.py[cod]
.venv/
runs/
checkpoints/
data/raw/
data/cache/
wandb/
.DS_Store
downloads/
data/
*.pt
*.pth
*.safetensors
**/__pycache__/
**/.venv/
**/runs/
**/checkpoints/
**/downloads/
**/data/
**/*.pt
**/*.pth
**/*.safetensors
